@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "roboto", sans-serif;
}


/* ------------------ header ------------------*/

header {
    display: flex;
    flex-direction: column;
}


.header-container {
    align-self: center;
    min-width: 627px;
}

.header-bottom {
    display: flex;
    padding: 4em 0;
    gap: 30px;
    justify-content: center;
    max-width: 812px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.header-top {
    display: flex;
    padding: 1em 0;
}



header,
#footer-bottom {
    background-color: #1F2937;
}

#logo-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

a {
    text-decoration: none;
    padding: 0 8px;
}

.links {
    margin-left: auto;
}

a,
.header-text p {
    color: #E5E7EB;
    font-size: 16px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
}

.top-nav {
    padding-top: 10px;
}


/* ------------------ button ------------------*/

#button-1 {
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #3882f6;
    padding: 0.3em 1.2em;
    margin: 5px 0;

}

#button-2 {
    color: white;
    border: 2px solid white;
    ;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 0.3em 1.8em;
}

#button-1:hover,
#button-2:hover {
    background-color: #5691f0;
}


/* ------------------ main ------------------*/

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 28px 0;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    margin-bottom: 60px;
    flex-wrap: wrap;

}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image img {
    width: 140px;
    height: 140px;
    border: 3px solid #5691f0;
    border-radius: 15px;
}

.image p {
    font-size: 13px;
    width: 120px;
    margin-top: 5px;
}


/* ------------------ quote ------------------*/

.blockquote-container {
    background-color: #E5E7EB;
    padding: 70px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
}

.quote {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 650px;
    min-width: 400px;

}

.quote p {
    margin-right: auto;
    font-style: italic;
    font-size: 22px;
    font-family: monospace, sans-serif;
}

.quote footer {
    margin-left: auto;
    margin-top: auto;
    font-weight: bold;
    font-size: 18px;
}


/* ------------------ sign-up ------------------*/

.signup-container {
    display: flex;
    justify-content: center;
}

.signup {
    background-color: #3882f6;
    border-radius: 7px;
    padding: 30px 70px;
    margin: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
    justify-content: space-between;
    flex-basis: 40%;
    min-width: 500px;

}

#button-2 {
    flex-shrink: 0;
    align-items: center;
}

.signup-text {
    color: #F9FAF8;
}

/* ------------------ footer ------------------*/

#footer-bottom {
    color: #E5E7EB;
    text-align: center;
    font-size: 14px;
    padding: 30px 0;
}